h1{
    color:rgb(0, 255, 157);
    border:solid;
}
.header{
   background-color: black;
   display:flex;
   justify-content:space-between;
}
.menu{
    background-color: cornflowerblue;
    display:flex;
    justify-content: space-between; 
}
.grid{
    background-color: cyan;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.abc{
    background-color:blueviolet ;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.def{
    background-color: chartreuse;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ghi{
    background-color: deeppink;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}
.jkl{
    background-color: deepskyblue;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}

.jjk{
    background-color: greenyellow;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}
.fb{
    background-color: mediumblue;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
}
.insta{
    background-color: mediumvioletred;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}
.yt{
    background-color: red;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}
